@model web_0799.Models.ErrorViewModel

<h1 class="text-danger">Lỗi!</h1>
<p>Đã xảy ra lỗi khi xử lý yêu cầu của bạn.</p>

@if (Model.ShowRequestId)
{
    <p><strong>Mã yêu cầu:</strong> @Model.RequestId</p>
}
